body{
    font-family: "open sans " ,sans-serif, verdana, geneva;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 20px;
}
.P2{
    text-decoration: underline;
}
.P6{
    text-decoration: underline;
}
.P3, .P5{
    text-decoration: underline;
    color: blueviolet;
}
.P4{
    color: red;
}
.P7{
    position: relative;
    left: 40px;
}
.P8{
    text-align: center;
    color: blueviolet;
    text-decoration: underline;  
}
.P10{
    font-size: 40px;
}